<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}"> 
  <title>Admin Dashboard</title>
</head>
<body>
  <div class="heading_1s">
    <h1>Admin Dashboard</h1>
  </div> 
  
  <div>
    <form action="#" th:action="@{/admin/patientDetails/}">
      <label> Search for patient </label>
      <input type="text" id="ppsn" name="ppsn" th:value="${ppsn}" placeholder="Search patient by ppsn">
      <input type="submit" value="Search">
    </form>
    <br>
    <form action="#" th:action="@{/admin/generateInvoice/}">
      <label> Search for invoice </label>
      <input type="text" id="ppsn" name="ppsn" th:value="${ppsn}" placeholder="Input Patient PPSN for Invoice">
      <input type="submit" value="Search">
    </form>
  
    <form action="#" th:action="@{/admin/allPatients}">
      <label></label>
      <br>
      <input type="submit" value="Get All Patients">    
    </form>
  
    <form action="#" th:action="@{/admin/register}">
      <label for="payment"></label>
      <br>
      <input type="submit" value="Register Patient">    
    </form>
  
    <form action="#" th:action="@{/admin/allProcedures}">
      <label></label>
      <br>
      <input type="submit" value="View All Procedures">        
    </form> 
  </div>

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6d0a"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1"> © 2022 - 2022 castletroymedical.com - All Rights Reserved.</p>
  </div>
  </footer>
  
</body>
</html>