<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}"> 
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1> Registered Patients </h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>PPSN</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>D.O.B</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Has Medical Card</th>
                        <th>Is Insured</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="patient: ${patients}">
                        <td th:text="${patient.ppsn}"></td>
                        <td th:text="${patient.firstName}"></td>
                        <td th:text="${patient.lastName}"></td>
                        <td th:text="${patient.email}"></td>
                        <td th:text="${#dates.format(patient.dob, 'dd/MM/yyyy')}"></td>
                        <td th:text="${patient.address}"></td>
                        <td th:text="${patient.phoneNumber}"></td>
                        <td th:text="${patient.medicalCardHolder}"></td>
                        <td th:text="${patient.insured}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </body>
    </body>
</html>