<!DOCTYPE html>
<head> 
<title>  
Edit Details
</title>  
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration</title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">    
    <link rel="stylesheet" type="text/css" th:href="@{resources/static/edit.css}" />
</head>  
<div class="container rounded bg-white mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                            <h6>Back to home</h6>
                        </div>
                        <h6 class="text-right">Edit Profile</h6>
                    </div>
                    <div class="row mt-2">
                        <label> Full Name </label> 
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Full name" value="Tito Etimiri"></div>
                    </div>

                    <div class="details">
                        <label> Email </label> 
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Email" value="csasey640@gmail.com"></div>
                        <label> Phone Number </label> 
                        <div class="col-md-6"><input type="text" class="form-control" value="+353085969668" placeholder="Phone number"></div>
                    </div>
                    <div class="details">
                        <label> Address </label> 
                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Address" value="Apple Street, Cork city"></div>
                        <div class="col-md-6"><input type="text" class="form-control" value="Ireland" placeholder="Country"></div>
                    </div>

                    <div>
                      <label>Medical Card Holder?</label>
                       <div>
                         <input type="radio" id="yes" name="option" value="Yes" />
                         <label for="yes">Yes</label><br />
                         <input type="radio" id="no" name="option" value="No" />
                         <label for="no">No</label><br />
                      </div> 
                    </div>

                    <div>
                    <label>Insurance Coverage?</label>
                    <div>
                        <input type="radio" id="yes" name="option" value="Yes" />
                        <label for="yes">Yes</label><br />
                        <input type="radio" id="no" name="option" value="No" />
                        <label for="no">No</label><br />
                    </div>
                    </div>


                    <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                </div>
            </div>
        </div>
    </div>
</head>