<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
    <html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
<section class='login' id='login'>
  <div class='head'>
  <h1 class='company'>Castletroy Medical</h1>
  </div>
  <p class='msg'>Welcome back</p>
  <div class='form'>
    <form>
  <input type="text" placeholder='Email' class='text' id='email' required><br>
  <input type="password" placeholder='••••••••••••••' class='password'><br>
  <a href="#" class='btn-login' id='do-login'>Login</a>
  <a href="#" class='forgot'>Forgot Password?</a>
    </form>
  </div>
</section>
 <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6d0a"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1"> © 2022 - 2022 casteltroymedical.com - All Rights Reserved.</p>
  </div></footer>

  <script  src="./script.js"></script>

</body>
</html>

