<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calculate Instalment Plan</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head> 
<body>
    <h2>Instalment Plan</h2>
    <form action="#" th:action="@{/displayInstalmentPlan}" th:object="${instalmentPlan}" method="post">
        <label for="numberInstalments"> Enter number of instalments </label>
        <br>
        <input type="number" id="numberInstalments" name="numberInstalments" th:field="*{numberInstalments}" min="2">
        <br>
        <label for="breakPeriod"> Enter break period between instalments </label>
        <br>
        <input type="number" id="breakPeriod" name="breakPeriod" th:field="*{breakPeriod}" min="30">
        <br>
        <br>
        <input type="submit" value="Create Instalment Plan">
        <input type="hidden" th:value="${instalmentPlan.total}" name="total">
    </form>
</body>
</html>