<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calculate Instalment Plan</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}"> 
</head> 
<body>
    <h2>Instalment Plan</h2>
    <form action="#" th:action="@{/admin/displayInstalmentPlan}" th:object="${instalmentPlan}" method="post">
        <label for="numberInstalments"> Enter number of instalments </label>
        <br>
        <input type="number" onfocus="this.value=''" id="numberInstalments" name="numberInstalments" th:field="*{numberInstalments}" th:min="${instalmentPlan.minInstalments}">
        <br>
        <label for="breakPeriod"> Enter break period between instalments </label>
        <br>
        <input type="number" onfocus="this.value=''" id="breakPeriod" name="breakPeriod" th:field="*{breakPeriod}" th:min="${instalmentPlan.minBreakPeriod}">
        <br>
        <br>
        <input type="submit" value="Create Instalment Plan">
        <input type="hidden" th:value="${instalmentPlan.total}" name="total">
    </form>
</body>
</html>