<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Generate Invoice </title>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}"> 
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script th:src="@{/form.js}"></script>    
</head> 
<body>
    <h2>Calculate Patient Invoice</h2>

    <form action="#" th:action="@{/admin/displayInvoice}" th:object="${invoiceDetails}" method="post">
        <p>Patient Name: <span th:text="${#strings.capitalize(invoiceDetails.name)}"></span></p>
        <p>PPSN: <span th:text="${invoiceDetails.ppsn}"></span></p>
        <p>Patient Type: <span th:text="${#strings.capitalize(invoiceDetails.patientType)}"></span></p>

        <label for="procedureList">Procedure</label>
        <br>
        <select name="procedureList" th:field="*{procedure}">
            <option value="" selected> --- Select a procedure --- </option>
            <option th:each="procedure: ${procedures}" th:value="${procedure.procedureName}" th:text="${procedure.procedureName}"></option>
        </select>
        <br>

        <label for="consultation">Did the patient have a consultation?</label>
        <input type="checkbox" id="consultation" name="consultation" th:checked="*{consultation}" />
        <br>

        <label for="stay">Did the patient stay overnight?</label>
        <input type="checkbox" id="hospitalStay" name="hospitalStay" th:checked="*{hospitalStay}" onclick="toggleStayQuestions()"/>
        <br>
        <label for="bedType">Please provide the room type</label>
        <br>
        <input type="radio" id="privateRoom" name="room" th:field="*{bedType}" value="privateRoom">
        <label for="privateRoom">Private Room</label>
        <input type="radio" id="wardBed" name="room" th:field="*{bedType}" value="wardBed">
        <label for="wardBed">Ward Bed</label>
        <br>
        <label for="stayDuration">Duration of stay</label>
        <br>
        <input type="number" id="stayDuration" name="stayDuration" th:field="*{stayDuration}" min="0">
        <br>

        <label for="monitoring">Did the patient require monitoring?</label>
        <input type="checkbox" id="monitoring" name="monitoring" th:checked="*{monitoring}" />
        <br>
        <label for="monitoringDuration">Duration of monitoring</label>
        <br>
        <input type="number" id="monitoringDuration" name="monitoringDuration" th:field="*{monitoringDuration}" min="0">
        <br>  
        <input type="hidden" th:value="${invoiceDetails.name}" name="name">
        <input type="hidden" th:value="${invoiceDetails.ppsn}" name="ppsn">
        <input type="hidden" th:value="${invoiceDetails.patientType}" name="patientType">        
        <br>
        <input type="submit" value="Generate Invoice">
    </form>
</body>
</html>