<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Generate Invoice </title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:src="@{/form.js}"></script>
</head> 
<body>
    <h2>Calculate Patient Invoice</h2>

    <form action="#" th:action="@{/displayInvoice}" th:object="${invoiceForm}" method="post">
        <label for="name">Patient name</label>
        <br>
        <input type="text" th:value="${invoiceForm.name}" readonly> 
        <br>
        <label for="ppsn">PPSN</label>
        <br>
        <input type="text" th:value="${invoiceForm.ppsn}" readonly>
        <br>

        <label for="procedureList">Procedure</label>
        <br>
        <select name="procedureList" th:field="*{procedure}">
            <option value="" selected> --- Select a procedure --- </option>
            <option th:each="procedure: ${procedures}" th:value="${procedure.name}" th:text="${procedure.name}"></option>
        </select>
        <br>

        <label for="consultation">Did the patient have a consultation?</label>
        <input type="checkbox" id="consultation" name="consultation" th:checked="*{consultation}" />
        <br>

        <label for="stay">Did the patient stay overnight?</label>
        <input type="radio" id="stayYes" name="stay" value="Yes" onclick="enableStayQuestions()">
        <label for="stayYes">Yes</label>
        <input type="radio" id="stayNo" name="stay" value="No" onclick="disableStayQuestions()">
        <label for="stayNo">No</label>
        <br>
        <label for="bedType">Please provide the room type</label>
        <br>
        <input type="radio" id="privateRoom" name="room" th:field="*{bedType}" value="Private Room">
        <label for="privateRoom">Private Room</label>
        <input type="radio" id="wardBed" name="room" th:field="*{bedType}" value="Ward Bed">
        <label for="wardBed">Ward Bed</label>
        <br>
        <label for="stayDuration">Duration of stay</label>
        <br>
        <input type="number" id="stayDuration" name="stayDuration" th:field="*{stayDuration}" min="1">
        <br>

        <label for="monitoring">Did the patient require monitoring?</label>
        <input type="radio" id="monitoringYes" name="monitoring" value="Yes" onclick="enableMonitoringQuestion()">
        <label for="monitoringYes">Yes</label>
        <input type="radio" id="monitoringNo" name="monitoring" value="No" onclick="disableMonitoringQuestion()">
        <label for="monitoringNo">No</label>
        <br>
        <label for="monitoringDuration">Duration of monitoring</label>
        <br>
        <input type="number" id="monitoringDuration" name="monitoringDuration" th:field="*{monitoringDuration}" min="1">
        <br>  
        <br>
        <input type="submit" value="Generate Invoice">
    </form>
</body>
</html>