<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
     <title>View Bills</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
      <!-- list of outstanding bills
     for each bill card, either have a pay option or
      request Installment plan option
    
     for request installment plan
     after button has been clicked include logic for sending notification to 
    admin request card-->
      <button type= "button" onclick="alert('Installment plan requested')"> Request Installment Plan </button>
<a href="stripe.html"><button>Pay Bill</button></a>


 </head>
 </html>