<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
     <title>View Bills</title>
     <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}"> 
     <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
</head>
<body>
    <!-- list of outstanding bills
     for each bill card, either have a pay option or
      request Installment plan option --->
    <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
        <a th:href="@{/patient/dashboard}"><button>Back to Dashboard</button></a>
    </div>

    <p>Table of bills with pay button</p>
    <a th:href="@{/patient/payBill}"><button>Pay Bill</button></a>

 </body>

 </html>