<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}"> 
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body>
<section class='register' id='register'>

    <div>
      <h1>Register Patient Details</h1>
    </div>
    
    <section>  
      <div>
        <form
          id="registerForm"
          method="post"
          role="form"
          action="#"
          th:action="@{/admin/register/save}"
          th:object="${patient}"
        >
          <div>
            <label>First Name</label>
            <input
              id="firstName"
              name="firstName"
              placeholder="Enter first name"
              th:field="*{firstName}"
              type="text"
            />
            <p
              th:errors="*{firstName}"
              class="text-danger"
              th:if="${#fields.hasErrors('firstName')}"
            ></p>
          </div>

          <br>

          <div>
            <label>Last Name</label>
            <input
              id="lastName"
              name="lastName"
              placeholder="Enter last name"
              th:field="*{lastName}"
              type="text"
            />
            <p
              th:errors="*{lastName}"
              class="text-danger"
              th:if="${#fields.hasErrors('lastName')}"
            ></p>
          </div>

          <br>

          <div>
            <label for="Date of Birth">Date of Birth</label>
            <input
              id="dob"
              name="dob"
              placeholder="DD/MM/YYYY"
              th:field="*{dob}"
              type="date"
              data-date-format="dd/mm/yyyy" 
            />
            <p
              th:errors="*{dob}"
              class="text-danger"
              th:if="${#fields.hasErrors('dob')}"
            ></p>
          </div>

          <br>

          <div>
            <label>PPSN</label>
            <input
              id="ppsn"
              name="ppsn"
              placeholder="0000000XX"
              th:field="*{ppsn}"
              type="text"
            />
            <p
              th:errors="*{ppsn}"
              class="text-danger"
              th:if="${#fields.hasErrors('ppsn')}"
            ></p>
          </div>

          <br>

          <div>
            <label>Medical Card Holder?</label>
            <div>
              <input id="yesMedicalCard" type="radio" name="medicalCardHolder" th:field="*{medicalCardHolder}" value="true" />
              <label>Yes</label><br />
              <input id="noMedicalCard" type="radio" name="medicalCardHolder" th:field="*{medicalCardHolder}" value="false" />
              <label>No</label><br />
            </div>
          </div>

          <br>

          <div>
            <label>Insurance Coverage?</label>
            <div>
              <input id="yesInsured" type="radio" name="insured" th:field="*{insured}" value="true" />
              <label for="yes">Yes</label><br />
              <input id="noInsured" type="radio" name="insured" th:field="*{insured}" value="false" />
              <label for="no">No</label><br />
            </div>
          </div>
          
          <br>

          <div>
            <label>Address</label>
            <input 
            id="address"
            name="address"
            placeholder="Enter home address"
            th:field="*{address}"
            type="text"
            size="75"
            />
            <p
            th:errors="*{address}"
            class="text-danger"
            th:if="${#fields.hasErrors('address')}"
            ></p>
          </div>

          <br>

          <div>
            <label>Phone Number</label>
            <input
              id="phoneNumber"
              name="phoneNumber"
              placeholder="08XXXXXXXX"
              th:field="*{phoneNumber}"
              type="text"
            />
            <p
              th:errors="*{phoneNumber}"
              class="text-danger"
              th:if="${#fields.hasErrors('phoneNumber')}"
            ></p>
          </div>

          <br>

          <div>
            <label>Email</label>
            <input
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter email address"
              th:field="*{email}"
              type="email"
            />
            <p
              th:errors="*{email}"
              class="text-danger"
              th:if="${#fields.hasErrors('email')}"
            ></p>
          </div>

          <br>

          <div>
            <button type="submit">Register</button>
          </div>
          
        </form>
      </div>
    </section>

    <div>
      <form action="#" th:action="@{/admin/dashboard}">
          <label></label>
          <br>
          <input type="submit" value="Return to Dashboard">    
      </form>
  </div>
  

  </body>
</html>
