<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <link rel="icon" type="image/x-icon" href="src/main/resources/favicon/favicon.ico">
  <link rel="stylesheet" type="text/css" th:href="@{resources/static/form.css}">
</head>
<body>

  <div th:if="${param.success}">
    <p>You've successfully registered to our app!</p>
  </div>

  <div>
    <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
      
      <div>
        <label>First Name</label>
        <input id="firstName"
               name="firstName"
               placeholder="Enter first name"
               th:field="*{firstName}"
               type="text"
        />
        <p th:errors="*{firstName}" class="text-danger"
           th:if="${#fields.hasErrors('firstName')}">
        </p>
    </div>

      <label for="Date of Birth">Date of Birth:</label>
      <input
        type="text"
        value="26/11/22"
        data-date-format="dd/mm/yy"
        id="dp2"
      />
      <br />
      <br />

      <label> PPSN </label>
      <input type="text" name="ppsn" size="9" /> <br />
      <br />

      <label> Medical Card Holder? </label><br />
      <input type="radio" id="yes" name="option" value="Yes" />
      <label for="yes">Yes</label><br />
      <input type="radio" id="no" name="option" value="No" />
      <label for="no">No</label><br />
      <br />

      <label> Insurance Coverage ? </label>
      <select>
        <option value="Select">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <br />
      <br />
      <label> Gender : </label><br />
      <input type="radio" id="male" name="gender" value="Male" />
      <label for="male">Male</label><br />
      <input type="radio" id="female" name="gender" value="Female" />
      <label for="female">Female</label><br />
      <input type="radio" id="other" name="gender" value="Other" />
      <label for="other">Other</label><br />
      <br />
      <br />

      <label> Phone : </label>
      <input type="text" name="country code" value="+353" size="5" />
      <input type="text" name="phone" size="10" /> <br />
      <br />
      Address
      <br />
      <textarea cols="80" rows="4" value="address"> </textarea>
      <br />
      <br />
      Email:
      <input type="email" id="email" name="email" /> <br />
      <br />
      <br />
      Password:
      <input type="Password" id="pass" name="pass" /> <br />
      <br />
      <br />
      Re-type password:
      <input type="Password" id="repass" name="repass" /> <br />
      <br />
      <input type="button" value="Register" />
    </form>
  </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Registration</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="src/main/resources/favicon/favicon.ico"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{resources/static/form.css}"
    />
  </head>
  <br />
  <br />
  <body>
    
  </body>
</html> -->
