<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
     <title>View Bills</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
      <!--cards with those two options, amybe with patient name etc options in the header
        Completed will list complete transaction with date of completion and cost of bill
        -->
      <button type= "button" onclick="alert('Button clicked')"> Outstanding Bills </button>
      <button type= "button" onclick="alert('Button clicked')"> Completed Bills </button>

 </head>
 </html>