<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
     <title>View Profile</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />

      <!-- 
        maybe with patient name etc options in the header
        will have their details layed out in a single card 
        with an option to edit in the corner
    -->
      
      <button type= "button" onclick="alert('Button clicked')"> Edit </button>
      <button type= "button" onclick="alert('Button clicked')"> Generate Invoice </button>


 </head>
 </html>