<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
     <title>View Profile</title>
     <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}"> 
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />

      <!-- 
        maybe with patient name etc options in the header
        will have their details layed out in a single card 
        with an option to edit in the corner
    -->
      
<a href="editprofile.html"><button>Edit Profile</button></a>
<a href="invoice-form.html"><button>Generate Invoice</button></a>


 </head>
 </html>